/* night sky background */
#toggle:checked+svg #container {
    fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked+svg #button {
    transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
    opacity: 1;
}

#toggle:checked+svg #sun {
    opacity: 0;
}

#moon {
    opacity: 0;
}

#toggle:checked+svg #moon {
    opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
    opacity: 1;
}

#toggle:checked+svg #cloud {
    opacity: 0;
}

#stars {
    opacity: 0;
}

#toggle:checked+svg #stars {
    opacity: 1;
}

/* Dark theme styles */
body.dark-theme {
    background-color: #121212; /* Fundo escuro */
    color: #ffffff; /* Texto claro */
}

/* Centralizar o botão */
.container {
    display: center;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da tela */
}
/* Estilos gerais */
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do body */
body {
    font-family: Arial, sans-serif;
    height: 100vh; /* Altura total da tela */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #f0f0f0; /* Cor de fundo opcional */
}

/* Estilos do toggle button */
#theme-toggle-button {
    font-size: 50px;
    position: relative;
    display: inline-block;
    width: 7em;
    cursor: pointer;
}

#toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
}